#header {
  background-image: url(../imaiges/shape.png);
  height: 170px;
  width: 100%;
}
#logo{
  height: 150px;
}
/*#header .container{
  background-image: url(../imaiges/header_background.png);
  height: 170px;
}
*/



