#main .row button {
  height: 20px;
}
#main .row {
  font-size: 12px;
}
#main li .image1 {
  display: flex;
  padding-bottom: 5px;
  margin-right: 5px;
}
#main li .image2 {
  display: flex;
  padding-bottom: 5px;
  padding-top: 5px;
  margin-right: 5px;
}
#main li .image3 {
  display: flex;
  margin-right: 5px;
  padding-top: 5px;
}
#main li .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
}
#main li  .info button{
  align-self: flex-end;
  margin-top: auto;
  margin-left: auto;
}

#main .href{
  font-size: 14px;
  color:black;
  font-style: italic;
}








